@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Taviraj:regular&display=swap);

.wrapper {
	min-height: 100%;
	overflow: hidden;
}
body{
   width: 810px;
   font-family: lato;
   font-style: normal;
}

   .page1 {
   font-family: lato;
   font-style: normal;
   }
   .title {
   }
   .who {
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   text-transform: uppercase;
   color: #1E212C;
   margin-bottom: 28px;
   }
   .why {
      font-weight: 900;
      font-size: 46px;
      line-height: 130%;
      color: #1E212C;
      margin-bottom: 50px;
   }
   .list2 {
      width: 390px;
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   color: #424551;
   margin-bottom: 48px;
   }
   .list2 li{
      padding-left: 32px;
   }
   .list2 li::before{
      content:"";
		width: 16px;
		min-height: 16px;
	   display: inline-block;
		margin: 0px 16px 0px -32px;
      background: url('../img/check.jpg') 0 0 no-repeat;
      
   }
   .button {
   display: inline-block;
   width: 161px;
   height: 44px;
   font-weight: 700;
   font-size: 14px;
   line-height: 320%;
   color: #FFFFFF;
   text-align: center;
   letter-spacing: 0.5px;
   background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);

   }

   .page2 {
      width: 500px;
      height: 100px;
      margin: 50px;
      font-family: Taviraj;
      font-style: normal;
      font-size: 36px;
      line-height: 40px;
      }
      .maple::before{
      content:"";
		width: 65px;
		min-height: 1px;
	   display: inline-block;
		margin: 0px -65px -16px 0px;
      background-color: #333333;
      }

      .link-figma {
         display: inline-block;
         box-shadow: inset 0px 0px 10px 5px rgb(5, 5, 5);
         margin-bottom: 25px;
         text-align: center;
         border-radius: 50px;
         padding: 30px 0 30px 0;
         background-color: cadetblue;
         font-family: "Taviraj";
         text-transform: uppercase;
         font-size: 30px;
         padding: 20px;
         }
         .link-figma:hover {
            text-decoration: underline;

